<!-- <div class="add">
  <form (ngSubmit)="myForm.valid && onSubmit(file)" enctype="multipart/form-data" #myForm="ngForm">
  <!-- <form (ngSubmit)="myForm.valid && onSubmit(file)" #myForm="ngForm" > -->

    <!-- <label for="file"><h3>Your File Here!</h3></label> -->
    <!-- <input type="file" name="file" placeholder="Upload Your project Here!" (change)="onFileChange($event)" required> -->
      <!-- <p *ngIf="handleFileSelected()">File too Heavy!</p> -->
    <!-- <button type="submit"> Save </button> -->
  <!-- </form> -->
<!-- </div> --> -->

<div class="add">
<form (ngSubmit)="upload()" #myForm="ngForm">
  <input ng-model="file_upload" name="file" type="file" (change)="fileChange($event)" #fileInput>
  <button type="submit">Submit</button>
</form>
</div>
