h1{
  padding-top: 16px;
  font-size: 3rem;
  border-bottom: none;
  border-top: 1px solid var(--heighty-color);
}
div{
  text-align: center;
}
a{ cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}
